<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FPTBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-green " style="background-color:green;">
            <div class="container-fluid" >
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:white;">FPT Coporation</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    @*<ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" asp-area="" asp-controller="Category" asp-action="Index" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Category
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Manga</a>
                                <a class="dropdown-item" href="#">Novel</a>
                                <a class="dropdown-item" href="#">Horror</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="IndexAdmin">Admin</a>
                        </li>
                    </ul>*@
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FPTBook</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" asp-area="" asp-controller="Category" 
                            asp-action="Index" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Category
                            </a>
                            @*<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        for(int i = 0; i < ViewBag.Categories.Count; i++)
                                        {
                                        <a class="dropdown-item" asp-controller="Book" asp-action="BookbyCate" 
                                        asp-route-id="@ViewBag.Categories[i].Id">@ViewBag.Categories[i].Name</a>
                                        }
                                    }
                                }
                            </div>*@
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Storeowner")) //chan chi cho storeowner nhin thay
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="IndexStoreowner">Storeowner</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator")) //chan chi cho storeowner nhin thay
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Admin</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <form method="post" asp-controller="Book" asp-action="Search" class="form-inline ml-auto">
                        <input class="form-control me-2 " name="keyword" type="search" placeholder="Search" aria-label="Search" 
                        value="">
                        <button class="btn btn-outline-success text-dark" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                            class="bi bi-search" viewBox="0 0 16 16" style="margin-bottom: 3px">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 
                                1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 
                                1 11 0z" />
                            </svg>
                        </button>
                    </form>                    
                </div>
            </div>
        </nav>
    </header>
    <div class=".container-fluid">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ASM1670 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
